@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  background-color: #dce4e7;
  /* display: inline-block; */
   display: flex;
   flex-direction: column;
  /* align-items: center; */
  justify-content: center; 
}

.heading{
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  color: rgb(158, 158, 158);
}

.card {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 70px;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card img{
  height: 200px;
  border-radius: 10px;
}

.card__info{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__info span {
  color:rgb(230, 23, 23);
  text-transform: uppercase;
  font-size: 15px;
}

.card__info h3{
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

.card__info button{
  /* border-style:none; */
  /* border-radius: 10px; */
  text-transform: uppercase;
  padding: 7px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  background-color: white ;
  color: rgb(115, 115, 180);
}

.card__info button:hover{
  background-color:rgb(150, 141, 141) ;
  color: white;
}